.field{
  width: 300px;
  padding-bottom: 20px;
}

#host {
  border-radius: 5%;
  border: 3px dashed slategray;
}

.colour-border{
  border: 3px solid rebeccapurple;
  padding: 10px;
  border-radius: 5%;
}

.header{
  padding: 10px;
}

h1 { 
    color: rebeccapurple;
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: white;
  font-family: monospace;
}